
                body
                {
                    background-image: url("2023-01-19-The Seagull Nebula.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-align: center;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    color: white;
                    font-size: 100;
                }
                h1{
                    text-align: center;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    color: white;
                    font-size: 100;
                }
              